<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DotBambooReport.Properties.Settings.dotbamboo" connectionString="User Id=root;Password=root;Host=localhost;Database=dotbamboo;Unicode=True;Persist Security Info=True"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
</configuration>